.multiselect {
    max-width: 20rem;
    display: flex;
    align-items: center;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 2px;
    justify-content: space-between;
}

.focus {
    box-shadow: 0 0 0 0.2rem #93cbf9;
    border-color: #6366F1;
}

.placeholder {
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.chip {
    padding: 0.25rem;
    margin: 0.25rem;
    background: #eef2ff;
    color: #4338ca;
    border-radius: 6px;
}

.chipIcon {
    padding-left: 10px;
}

.trigger {
    min-width: 2rem;
}
